
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create Quote</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Create.css') }}">

	</head>
	<body>
		<div class="create-card">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="flash-message">{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<h1>Create Quote</h1>
			<form action="{{ url_for('add_quote') }}" method="POST" style="width:100%;">
				<label for="qoute">Quote:</label>
				<input type="text" name="qoute" id="qoute" required>
				<input type="submit" value="Create" class="create-quote-btn">
			</form>
			<a href="{{ url_for('home') }}" class="back-link">Back to home</a>
		</div>
	</body>
</html>
